<div>

    <table>
        <tr>
            <th>Id</th>
            <th>Start date</th>
            <th>Phone No.</th>
            <th>Status</th>
            <th>Address</th>
        </tr>
        <tr>
            <td>WR1</td>
            <td>13 aug 2021</td>
            <td>+44-250-1234</td>
            <td>Submitted</td>
            <td>Germany</td>
        </tr>
        <tr>
            <td>WR1</td>
            <td> 13 aug 2021</td>
            <td>+44-250-1234</td>
            <td>Submitted</td>
            <td>Mexico</td>
        </tr>
        <tr>
            <td>WR1</td>
            <td>13 aug 2021</td>
            <td>+44-250-1234</td>
            <td>Submitted</td>
            <td>Austria</td>
        </tr>
        <tr>
            <td>WR1</td>
            <td>13 aug 2021</td>
            <td>+44-250-1234</td>
            <td>Submitted</td>
            <td>UK</td>
        </tr>
        <tr>
            <td>WR1</td>
            <td>13 aug 2021</td>
            <td>+44-250-1234</td>
            <td>Submitted</td>
            <td>Canada</td>
        </tr>
        <tr>
            <td>WR1</td>
            <td>13 aug 2021</td>
            <td>+44-250-1234</td>
            <td>Submitted</td>
            <td>Italy</td>
        </tr>
    </table>
</div>