<div class="outer">
    <div class="inner">
    <table>
        <tr>
            <th class="hard_left">Id</th>
            <th class="next_left">Start date</th>
            <th>Phone No.</th>
            <th>Status</th>
            <th>Address</th>
            <th>Address</th>
            <th>Address</th>
        </tr> 
        <tr>
            <th class="hard_left">WR1</th>
            <td class="next_left">13 aug 2021</td>
            <td class="long">+44-250-1234</td>
            <td class="long">Submitted</td>
            <td class="long">Germany</td>
            <td class="long">Germany</td>
            <td class="long">Germany</td>
        </tr>
        <tr>
            <th class="hard_left">WR1</th>
            <td class="next_left"> 13 aug 2021</td>
            <td class="long">+44-250-1234</td>
            <td class="long">Submitted</td>
            <td class="long">Mexico</td>
            <td class="long">Mexico</td>
            <td class="long">Mexico</td>
        </tr>
        <tr>
            <th class="hard_left">WR1</th>
            <td class="next_left">13 aug 2021</td>
            <td class="long">+44-250-1234</td>
            <td class="long">Submitted</td>
            <td class="long">Austria</td>
            <td class="long">Austria</td>
            <td class="long">Austria</td>
        </tr>
        <tr>
            <th class="hard_left">WR1</th>
            <td class="next_left">13 aug 2021</td>
            <td class="long">+44-250-1234</td>
            <td class="long">Submitted</td>
            <td class="long">UK</td>
            <td class="long">UK</td>
            <td class="long">UK</td>
        </tr>
        <tr>
            <th class="hard_left">WR1</th>
            <td class="next_left">13 aug 2021</td>
            <td class="long">+44-250-1234</td>
            <td class="long">Submitted</td>
            <td class="long">Canada</td>
            <td class="long">Canada</td>
            <td class="long">Canada</td>
        </tr>
        <tr>
            <th class="hard_left">WR1</th>
            <td class="next_left">13 aug 2021</td>
            <td class="long">+44-250-1234</td>
            <td class="long">Submitted</td>
            <td class="long">Italy</td>
            <td class="long">Italy</td>
            <td class="long">Italy</td>
        </tr> 
     
    </table>
</div>
</div>