<div style="height: 600px; flex-wrap: wrap; display: inline-block; margin-top: 100px;">
    <label class="container">All work operations completed?
        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
      </label>
      <br><br>
      <label class="container">All tags removed?
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
      <br><br>
      <label class="container">Grounding removed?
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
      <br><br>
      <label class="container">Ready for service?
        <input type="checkbox">
        <span class="checkmark"></span>
      </label> 
</div>
