<div class="topnav">
    <a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
    <a style="font-size: 25px;">{{headline}}</a>
    <div class="topnav-right">
      <a style="font-size: 20px;">{{username}}</a>
      <a style="font-size: 15px;margin-top: 6px;">Account settings</a>
      <img src="/assets/avatar.png" alt="Avatar" class="avatar topnav-right"> 
    </div>
</div> 