<p>sidebar works!</p>
 <!-- Load an icon library -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

 <!-- The sidebar -->
 <div class="sidebar">
  <br><br><br>
   <a ><i class="fa fa-fw fa-search"></i> Search</a>
   <a routerLink="/dashboard" ><i class="fa fa-fw fa-home"></i> Home</a>
   <a routerLink="/workRequest"><i class="fa fa-fw fa-file"></i> Work Requests</a>
   <a ><i class="fa fa-fw fa-globe"></i> Map</a>
   <a routerLink="/incidents"><i class="fa fa-fw fa-phone"></i> Incidents</a>
   <a routerLink="/safetyDoc"><i class="fa fa-fw fa-briefcase"></i> Safety Documents</a>
   <a ><i class="fa fa-fw fa-user"></i> Clients</a>
   <a ><i class="fa fa-fw fa-users"></i> Teams</a>
   <a routerLink="/equipment"><i class="fa fa-fw fa-wrench"></i> Equipment</a>
  <!-- bottom part -->
   <a style="bottom: 90px; position: absolute;" ><i class="fa fa-fw fa-gear"></i> Settings</a>
   <a style="bottom: 60px; position: absolute;"><i class="fa fa-fw fa-bell"></i> Notifications</a>
   <a style="bottom: 30px; position: absolute;" routerLink="/login" (click)=logOut()><i class="fa fa-fw fa-arrow-circle-o-left"></i> Log out</a>
 </div> 