<table style="font-size: 20px;">
    <tr>
        <th>Reason: </th>
        <td>
            <select style="width: 300px;">
                <option value="NO_POWER">No power</option>
                <option value="OUTAGE">Outage</option>
                <option value="LIGHT_FLICKERING">Light flickering</option>
                <option value="POWERS_BACK">Powers back</option>
                <option value="PARTIAL_POWER">Partial power</option>
                <option value="VOLTAGE_PROBLEM">Voltage problem</option>
            </select>
        </td>
    </tr>
    <br><br>
    <tr>
        <th>Comment: </th>
        <td>
            <textarea class="text" style="font-size: 15px; height: 120px; resize: none;"></textarea>
        </td>
    </tr>
    <br><br>
    <tr>
        <th>Hazard: </th>
        <td>
            <input style="font-size: 20px; width: 300px;" type="text">
        </td>
    </tr>
    <br>
    <tr>
        <th>Priority: </th>
        <td><select style="font-size: 17px;">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select></td>
    </tr>
</table>
<br><br>
<div class="border">
    <label style="font-size: 25px;"><b>Customer info: </b></label>
    <a style="font-size: 20px; float: right;">Select customer &nbsp;&nbsp;&nbsp;&nbsp;</a>
    <br><hr>
    <table style="font-size: 20px;">
        <td style="width: 50%;">

            <tr>
                <th>Name: </th>
                <td><label></label></td>
            </tr>
            <hr>
            <tr>
                <th>Last name: </th>
                <td><label></label></td>
            </tr>
            <hr>
            <tr>
                <th>Address: </th>
                <td><label></label></td>
            </tr>
            <hr>
        </td>
        <td style="width: 100%;">

            <tr>
                <th>Account: </th>
                <td><label></label></td>
            </tr>
            <hr>
            <tr>
                <th>Priority: </th>
                <td><label></label></td>
            </tr>
            <hr>
        </td>
        <td></td>
    </table>
</div>