<p>sidebar works!</p>
 <!-- Load an icon library -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

 <!-- The sidebar -->
 <div class="sidebar">
   <a ><i class="fa fa-fw fa-search"></i> Search</a>
   <a ><i class="fa fa-fw fa-home"></i> Home</a>
   <a ><i class="fa fa-fw fa-file"></i> Document</a>
   <a ><i class="fa fa-fw fa-globe"></i> Map</a>
   <a ><i class="fa fa-fw fa-phone"></i> Phone</a>
   <a ><i class="fa fa-fw fa-briefcase"></i> Equipment</a>
   <a ><i class="fa fa-fw fa-user"></i> Clients</a>
   <a ><i class="fa fa-fw fa-users"></i> Teams</a>
   <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
   <a ><i class="fa fa-fw fa-gear"></i> Settings</a>
   <a ><i class="fa fa-fw fa-bell"></i> Notifications</a>
   <a ><i class="fa fa-fw fa-arrow-circle-o-left"></i> Log out</a>
 </div> 