<div style="height: 600px; flex-wrap: wrap; display: inline-block;">
    <table class="inline" style="font-size: 20px;">
        <tr>
            <td>Incident ID: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td><label>INC0000015</label></td>
        </tr>
        <br>
        <tr>
            <td>Type:</td>
            <td><select>
                <option value="PLANNED">Planned Work</option>
                <option value="UNPLANNED">Unplanned Work</option>
            </select></td>
        </tr>
        <br>
        <tr>
            <td>Priority:</td>
            <td><select>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select></td>
        </tr>
        <br>
        <tr>
            <td>Confirmed: </td>
            <td><input style="transform: scale(1.5);" type="checkbox"></td>
        </tr>
        <br>
        <tr>
            <td>Status: </td>
            <td><label>Dispatched</label></td>
        </tr>
        <br>
        <tr>
            <td>Description: </td>
            <td><textarea style="font-size: 15px; height: 150px; width: 300px; resize: none;"></textarea></td>
        </tr>
        <br>
        <tr>
            <td>ETA: </td>
            <td><input style="font-size: 20px;" type="time"></td>
        </tr>
        <br>
        <tr>
            <td>ATA: </td>
            <td><input style="font-size: 20px;" type="time"></td>
        </tr>
    </table>
    <table class="inline" style="font-size: 20px;margin-left: 700px; margin-top: -540px;">
        <tr>
            <td>Affected customers: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td><input style="font-size: 20px;" type="number"></td>
        </tr>
        <br>
        <tr>
            <td>Outage time: </td>
            <td><input style="font-size: 20px;" type="date"></td>
        </tr>
        <br>
        <tr>
            <td>ETR: </td>
            <td><input style="font-size: 20px;" type="date"></td>
        </tr>
        <br>
        <tr>
            <td>Calls: </td>
            <td><input style="font-size: 20px;" type="number"></td>
        </tr>
        <br>
        <tr>
            <td>Voltage[KV]: </td>
            <td><input style="font-size: 20px;" type="number"></td>
        </tr>
        <br>
        <tr>
            <td>Scheduled time: </td>
            <td><input style="font-size: 20px;" type="date"></td>
        </tr>
    </table>
</div>
