<br>
<table class="inline" style="font-size: 20px;">
    <tr>
        <td>Cause: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td><select>
            <option value="WEATHER">Weather</option>
            <option value="HUMAN_FACTOR">Human factor</option>
            <option value="OUTAGE">Outage</option>
        </select></td>
    </tr>
    <br><br>
    <tr>
        <td>Subcause: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td><select>
            <option value="LIGHTNING">Lightning</option>
            <option value="STORM">Storm</option>
            <option value="WIND">Wind</option>
            <option value="HAIL">Hail</option>
            <option value="FLOOD">Flood</option>
            <option value="FIRE">Fire</option>
            <option value="TRAFIC_ACCIDENT">Trafic accident</option>
            <option value="HUMAN_ERROR">Human error</option>
            <option value="FAULTY_EQUIPMENT">Faulty equipment</option>
        </select></td>
    </tr>
    <br><br>
    <tr>
        <td>Construction type: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td><select>
            <option value="UNDERGROUND">Underground</option>
            <option value="ABOVEGROUND">Aboveground</option>
        </select></td>
    </tr>
    <br><br>
    <tr>
        <td>Material: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td><select>
            <option value="METAL">Metal</option>
            <option value="PLASTIC">Plastic</option>
            <option value="RUBBER">Rubber</option>
            <option value="CONCRETE">Concrete</option>
        </select></td>
    </tr>
    <br>
</table>
<br><br><br><br><br><br>