<div style="height: 600px; flex-wrap: wrap; display: inline-block; margin-top: 100px;">
    <table class="inline" style="font-size: 20px;">
        <tr>
            <td>Type:</td>
            <td><select>
                <option value="PLANNED">Planned Work</option>
                <option value="UNPLANNED">Unplanned Work</option>
            </select></td>
        </tr>
        <br>
        <tr>
            <td>Status: </td>
            <td><label><b>Draft</b></label></td>
        </tr>
        <br>
        <tr>
            <td>Switching plan: &nbsp;&nbsp;&nbsp;</td>
            <td>
                <label><b>SD150</b></label>
                <button style="margin-left:100px; ">...</button>
            </td>
        </tr>
        <br>
        <tr>
            <td>Safety doc type:</td>
            <td><select>
                <option value="CLEARANCE">Clearance</option>
            </select></td>
        </tr>
        <br>
        <tr>
            <td>Date/time created: &nbsp;&nbsp;</td>
            <td><input style="font-size: 20px;" type="date"></td>
        </tr>
        <br>
        <tr>
            <td>Created by: </td>
            <td><label><b>Draft</b></label></td>
        </tr>
        <br>
        <tr>
            <td>Phone No: </td>
            <td><input style="font-size: 20px;" type="text"></td>
        </tr>
        <br>
        <tr>
            <td>Field crew: </td>
            <td><label><b>NS crew</b></label></td>
        </tr>
        <br>
        <tr>
            <td>Details: </td>
            <td><input style="font-size: 20px;width: 900px;" type="text"></td>
        </tr>
        <br>
        <tr>
            <td>Notes: </td>
            <td><input style="font-size: 20px;width: 900px;" type="text"></td>
        </tr>
    </table>
</div>
