<div class="row">
    <div class="column left">
        <p>New user details</p>
        <br>

        <input type="text" placeholder="Username">
        <br><br><br>
        <input type="text" placeholder="First name">
        <br><br><br>
        <input type="text" placeholder="Last name">
        <br><br><br>
        <input type="text" placeholder="Email">
        <br><br><br>
        <select>
            <option value="CREW_MEMBER"> Crew member</option>
            <option value="DISPATCHER"> Dispatcher</option>
            <option value="ATH_WORKER"> Worker</option>
        </select>
        <br><br><br>
        <input type="checkbox"> Send mail confirmation
        <br><br><br>
    </div>

    <div class="column right">
        <p>Profile picture</p>
        <img src="" style="border: 10px; color: black; width: 150px; height: 250px;">
        <br>
        <button> Select image </button>
    </div>

    <br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br>
    



    <button> Add user </button>
    <button> Cancel </button>

</div>

